@font-face {
    font-family: 'function_pro_bookbold';
    src: url('/assets/fonts/functionpro_bold_ubasic/FunctionPro-Bold-webfont.eot');
    src: url('/assets/fonts/functionpro_bold_ubasic/FunctionPro-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/functionpro_bold_ubasic/FunctionPro-Bold-webfont.woff') format('woff'),
         url('/assets/fonts/functionpro_bold_ubasic/FunctionPro-Bold-webfont.ttf') format('truetype'),
         url('/assets/fonts/functionpro_bold_ubasic/FunctionPro-Bold-webfont.svg#function_pro_bookbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'function_probook';
    src: url('/assets/fonts/functionpro_book_ubasic/FunctionPro-Book-webfont.eot');
    src: url('/assets/fonts/functionpro_book_ubasic/FunctionPro-Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/functionpro_book_ubasic/FunctionPro-Book-webfont.woff') format('woff'),
         url('/assets/fonts/functionpro_book_ubasic/FunctionPro-Book-webfont.ttf') format('truetype'),
         url('/assets/fonts/functionpro_book_ubasic/FunctionPro-Book-webfont.svg#function_probook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lato';
    src: url('/assets/fonts/lato_light/lato-light-webfont.eot');
    src: url('/assets/fonts/lato_light/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/lato_light/lato-light-webfont.woff') format('woff'),
         url('/assets/fonts/lato_light/lato-light-webfont.ttf') format('truetype'),
         url('/assets/fonts/lato_light/lato-light-webfont.svg#latolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html{
	height: 100%;
}

body{
	background: #F5F2F2;
	color: #303A5F;
	font: 1.2em/1.5em 'Lato', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
	width: 100%;
}

h1{
	color: #B94643;
	font: 3em/.9em function_pro_bookbold;
	letter-spacing: .02em;
	margin: 0.1em 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

h1.title{
	margin: 1.2em 0;
}

h1.slogan{
	bottom: 15%;
	color: white;
	display: block;
	position: absolute;
	width: 100%;
	z-index: 1001;
}

h2{
	font: 2em function_pro_bookbold;
	letter-spacing: .02em;
	margin: 0;
	padding: 1.25em 0;
	text-align: center;
	text-transform: uppercase;
}

h3{
	color: #B94643;
	font: 1.6em function_pro_bookbold;
	letter-spacing: .02em;
	margin: 0.1em 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

h4{
	color: #B94643;
	font: 1em function_pro_bookbold;
	letter-spacing: .02em;
	margin: 0.1em 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

h5{
	font: .6em function_probook, Helvetica, sans-serif;
	letter-spacing: .1em;
	margin: 0.1em 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
}

h6{
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

a{
	border: none;
	color: #B94643;
	text-decoration: none;
}
audio{
	display: block;
	width: 100%;
}

footer{
	color: #aca9a9;
	display: block;
	font: .6em function_probook, Helvetica, sans-serif;
	float: left;
	letter-spacing: .1em;
	padding: 2em 0;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 100%;
}

::selection {
	background: #aca9a9;
	}
::-moz-selection {
	background: #aca9a9;
}


/*MAP*/
#map {
    position:absolute;
    top:0;
    bottom:0;
    width:100%;
}

/*HEADER*/

header{
	background: #242835;
	background: rgba(19, 24, 38, 0.92);
	font: 0.8em function_probook, Helvetica, sans-serif;
	float: left;
	letter-spacing: .1em;
	margin: 0;
	padding: 1em 0;
	text-transform: uppercase;
	width: 100%;
	z-index: 1110;
}

.nav{
	margin: 0;
	padding: 0;
}

.nav a{
	padding: 0 1em;
}

.nav li{
	display: inline;
	float: left;
	list-style: none;
	padding: 0;
}

.nav li.logo{
	font-family: function_pro_bookbold, Helvetica, sans-serif;
}

.nav li.logo a{
	color: white;
}

/*UNIVERSAL STYLES*/

.pre{
	color: #F5F2F2;
	display: block;
	font-size: .7em;
}

.button{
	animation-iteration-count: infinite;
	animation-duration: 2s;
	animation-name: pulse;
	background: #B94643;
	border: none;
	color: white;
	display: block;
	font: .8em function_pro_bookbold;
	letter-spacing: .1em;
	padding: 1.2em 1em 1em;
	margin: 2em auto;
	text-align: center;
	text-transform: uppercase;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition:all 0.2s linear;
	-webkit-appearance:none;
}

.button:hover{
	animation: none;
	color: #B94643;
	cursor: pointer;
	background: #212942;
}
/*
.hide{
	display: none;
}
*/
.wrapper{
	position: relative;
}

.section{
	float: left;
	padding: 0 0 3em;
	position: relative;
	width: 100%;
}

.section--blue{
	background: #1b2135;
	color: #b1beca;
}

.section--blue h2{
	color: #B94643;
}

.section--orange{
	background: #B94643;;
	color: white;
}

.description{
	margin: 0 0 40px 0;
	padding: 0;
}

.image__fluid{
	display: block;
	height: auto;
	width: 100%;
}

.video{
	position: relative;
	padding-bottom: 43.25%;
	padding-top: 25px;
	height: 0;
}

.video iframe{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

/*FORMS*/

form{
	margin: 1em 0;
}

.speaking__form{
	display: none;
	float: left;
	padding: 1.5em 0;
}

.form__label{
	color: #aca9a9;
	font: .7em function_probook, Helvetica, sans-serif;
	letter-spacing: .05em;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}

.form__element{
	display: inline;
	float: left;
	padding: 0 2%;
}

.form__element__half{
	width: 46%;
}

.form__element__full{
	width: 96%;
}

.form__element__textfield,
.form__element__textarea{
	border: 1px solid #dedbdb;
	display: block;
	font: .9em 'Lato', sans-serif;
	margin: 0 0 1em;
	min-height: 2.5em;
	padding: .4em;
	width: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance:none;
}

.form__element__textfield:focus,
.form__element__textarea:focus{
	border: 3px solid #1b2135;
	color: #B94643;
	outline: none;
}

.form__element__textfield--blue{
	background: #303b61;
	border-color: #303b61;
	color: #aca9a9;
}

.form__element__textfield--blue:focus{
	background: #F5F2F2;
	border-color: #F5F2F2;
}

.required:after{
	color: #B94643;
	content:"*";
}

.offer{
	margin: 1em 0;
	text-align: center;
}

/*STORY PAGES*/

.stories__index{
	display: block;
	float: left;
	width: 100%;
}

.stories__index__image{
	float: left;
	overflow: hidden;
	position: relative;
	width: 25%;
}

.stories__index__detail{
	left: 0;
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
}

.zoom{
	-webkit-transition: all 2s ease-out;
	-moz-transition: all 2s ease-out;
	-ms-transition: all 2s ease-out;
	-o-transition: all 2s ease-out;
	transition: all 2s ease-out;
}

.zoom:hover{
	-webkit-transform: scale(1.08);
	-moz-transform: scale(1.08);
	-ms-transform: scale(1.08);
	-o-transform: scale(1.08);
	transform: scale(1.08);
}

.story__image{
	background-repeat: no-repeat;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.story__content{
	padding: 3em 0;
}

/*ARTICLE PAGES*/
.social{
	background: rgba(250, 250, 250, .9);
	margin: 1em 0 0;
	padding: .5em .5em .3em;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.social__twitter{
	display: inline-block;
	margin: 0 10px 0 0;
}

.social__facebook{
	display: inline-block;
	height: auto;
	line-height: 15px;
	overflow: hidden;
	width: 140px;
}

.section--article{
	padding: 0;
}

.article{
	padding: 2em 0 0;
}

.article__intro{
	text-align: center;
}

.article__thumb{
	background: white;
	float: left;
	position: relative;
	margin: 1.5%;
	width: 22%;
}

.article__image{
	background: #1b2135;
	overflow: hidden;
	width: 100%;
}

article{
	padding: 1.5em 0;
}

.article__hero{
	float: left;
	margin: 1.5em 0;
	width: 100%;
}

.article__thumb--preview {
	background: #151a2b;
}

.article__thumb--preview > .article__image > img{
	opacity:0.15;
	filter:alpha(opacity=15);
}

.latest .article__name h5:before{
	color:  #303A5F;
	content: "Latest Article:\A";
	white-space: pre;
}

.article__name{
	display: block;
	min-height: 50px;
	padding: 5%;
	width: 90%;
}

.article__name:first-child{
	color: blue;
}

.article__intro > h4{
	color: white;
}

.article__nav__item{
	display: block;
	float: left;
	padding: 15px 5%;
	width: 40%;
	text-align: center;
}

.article__nav__item--full{
	width: 90%;
}

.closer{
	font-size: .8em;
	font-style: italic;
	text-align: center;
}

/*RESOURCE PAGE*/
.resources{
	padding: 1em 0;
}

.resource{
	padding: 0.5em 0;
}

/*WELCOME*/
.welcome{
	text-align: center;
}

/*404*/
.section--404{
	margin: 15% 0;
	text-align: center;
}

/*FEATURES*/

.section--features{
	height: 40%;
	padding: 0;
}

.feature{
	width: 100%;
}

/*EMAIL*/

.section--email{
	padding: 1em 0;
}

/*ABOUT*/

.section--about{
	background: white;
}

.resellers{
	display: block;
	float: left;
	margin: 0;
	padding: 0.3em 0;
	width: 100%;
}

.reseller{
	display: inline-block;
	list-style: none;
	margin: 0;
	/*min-height: 80;*/
	padding: 0;
	text-align: center;
	float: left;
}

.reseller img{
	display: block;
	padding: 5% 15%;
	width: 70%;
}

/*CHAPTERS*/

.chapter{
	display: block;
	float: left;
	width: 100%;
}

.chapter__index{
	display: block;
}

/*AUTHOR*/

.section--author{
	background: white;
}

.profile__image{
	float: left;
}

.profile__content{
	float: left;
}

/*SPEAKING*/

.section--speaking{
	background: white url(/assets/images/diagonal.svg);
}

.speaking__audio{
	background: black;
	margin: 0 0 1em;
	padding: .5em 0;
}

.speaking__audio > h5{
	color: white;
}

/*PITCH NIGHT*/

.tour{
	margin: 0;
	padding: 0;
}

.tour--stop{
	display: inline-block;
	float: left;
	list-style: none;
	padding: 0 0 20px;
}

.tour--date{
	color: white;
}

/*EVENT*/

.section--event{
	background: white;
}

.event--image{
	margin: 0 0 1.5em;
}

/*BREAKPOINTS*/

@media screen and (min-width: 320px) {
	.reseller{
		width: 50%;
	}
	.wrapper{
		width: 90%;
		margin: 0 auto;
	}
	.profile__image{
		width: 100%;
	}
	.profile__content{
		width: 100%;
	}
	li.tour--stop{
		width: 100%;
	}
	.form__element__half{
		width: 96%;
	}
	.story{
		width: 100%;
	}
	.stories__index__image{
		width: 50%;
	}

	h1{
		font-size: 2em;
	}

	.nav li{
		display: block;
		padding: 0.5em 0;
		text-align: center;
		width: 33.333333%;
	}

	.nav li.logo{
		font-size: 2.5em;
		display: block;
		width: 100%;
	}

	.nav a{
		padding: 0;
	}

	.button{
		width: 100%;
	}

	.article__thumb{
		width: 47%;
	}

	.article__nav__item{
		width: 90%;
	}
}

@media screen and (min-width: 720px) {
	.reseller{
		width: 25%;
	}
	.wrapper{
		margin: 0 auto;
		width: 80%;
	}

	li.tour--stop{
		width: 50%;
	}
	.form__element__half{
		width: 46%;
	}
	.stories__index__image{
		width: 33.333333%;
	}
	h1{
		font-size: 3em;
	}

	.nav li{
		display: inline;
		padding: 0;
		text-align: left;
		width: auto;
	}

	.nav li.logo{
		font-size: 1em;
		width: auto;
	}
	.nav a{
		padding: 0 1em;
	}

	.article__thumb{
		width: 30.33333%;
	}

	.article__nav__item{
		width: 40%;
	}

	.article__nav__item--full{
		width: 90%;
	}
}

@media screen and (min-width: 960px) {
	.reseller{
		width: 12.5%;
	}
	.chapter{
		min-height: 15em;
		padding: 0 3%;
		width: 44%;
	}

	.profile__image{
		width: 50%;
	}

	.profile__content{
		padding: 0 3%;
		width: 44%;
	}

	.stories__index__image{
		width: 25%;
	}
	.button{
		min-width: 100px;
		max-width: 300px;
	}

	h1{
		font-size: 3em;
	}
	h1.slogan{
		font-size: 4.5em;
	}
	header{
		font-size: 1em;
	}
	.article__thumb{
		width: 22%;
	}
}

