	{% extends "_layout" %}
	{% set title = "Articles" %}

	{% block content %}
	<!--Articles-->
	<div class="section section--blue">
	<div class="wrapper">
			<h1 class="title">Articles</h1>
			{% set articlethumb = {
			mode: 'crop',
			width: 300,
			height: 400,
			quality: 75,
			position: 'top-center'
		} %}
		{% for entry in craft.entries.section('articles').find() %}
		{% if now|date('Y-m-d') < entry.articlePublishDate %}
		<div class="article__thumb article__thumb--preview">
			<div class="article__image">
				{% for asset in entry.articleImage %}
				<img class="image__fluid" src="{{ asset.url(articlethumb) }}" width="{{ asset.getWidth(articlethumb) }}" height="{{ asset.getHeight(articlethumb) }}" alt="{{ entry.title }}">
				{% endfor %}
			</div>
			<div class="article__name">
				<h5>{{ entry.title }}</h5>
				<h5>Coming {{ entry.articlePublishDate.format('F dS') }}</h5>
			</div>
		</div>
		{% else %}
		<div class="article__thumb">
			<a href="{{ entry.url }}">
				<div class="article__image">
					{% for asset in entry.articleImage %}
					<img class="image__fluid zoom" src="{{ asset.url(articlethumb) }}" width="{{ asset.getWidth(articlethumb) }}" height="{{ asset.getHeight(articlethumb) }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
				<div class="article__name">
					<h5>{{ entry.title }}</h5>
				</div>
			</a>
		</div>
		{% endif %}

		{% endfor %}
</div>
</div>
{% endblock %}
