	{% extends "_layout" %}
	{% set title = "Articles" %}

	{% block content %}
	<!--Articles-->
	<div class="section section--blue">
		<div class="wrapper">
			<h1 class="title">Articles</h1>
			{% set articlethumb = {
			mode: 'crop',
			width: 300,
			height: 400,
			quality: 75,
			position: 'top-center'
		} %}
		{% for entry in craft.entries.section('articles').find() %}
		<a href="{{ entry.url }}">
			<div class="article__thumb">
				<div class="article__image">
					{% for asset in entry.articleImage %}
					<img class="image__fluid" src="{{ asset.url(articlethumb) }}" width="{{ asset.getWidth(articlethumb) }}" height="{{ asset.getHeight(articlethumb) }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
				<div class="article__name">
					<h5>{{ entry.title }}</h5>
				</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endblock %}
