	{% extends "_layout" %}

	{% block content %}
	<div class="section section--article section--blue">
		<div class="wrapper">
			<div class="article">
				<h5>Article</h5>
				<h1>{{ entry.title }}</h1>
				<div class="article__intro">{{ entry.articleIntro }}</div>

			</div>
		</div>
	</div>
	<div class="section">
	<img class="image__fluid" src="{{ entry.articleImage.first().url }}" alt="{{ entry.title }}">
	</div>
	<div class="section">
		<div class="wrapper">
			<h5>Article</h5>
			<article>
				{{ entry.body }}
			</article>
		</div>
	</div>

	{% endblock %}
