	{% extends "_layout" %}
	{% set title =  siteName  %}
	{% block stylesheets %}
	<link href="/assets/stylesheets/owl.carousel.css" rel="stylesheet">
	<link href="/assets/stylesheets/owl.theme.css" rel="stylesheet">
	{% endblock %}
	{% block javascripts %}
	<script src="/assets/scripts/src/plugins/owl.carousel.js"></script>
	<script src="/assets/scripts/src/plugins/jquery.fitvids.js"></script>
	<script src="/assets/scripts/src/plugins/jquery.cycle2.min.js"></script>
	<script src="/assets/scripts/src/plugins/jquery.velocity.min.js"></script>
	{% endblock %}
	{% block header %}
		<nav>
			<ul class="nav">
				<li class="logo"><a href="#">Dream Year</a></li>
				<li class="{{entry.aboutHeading|replace(' ','-')|lower}}"><a href="#{{entry.aboutHeading|replace(' ','-')|lower}}">{{entry.aboutHeading}}</a></li>
				<li class="{{entry.authorHeading|replace(' ','-')|lower}}"><a href="#{{entry.authorHeading|replace(' ','-')|lower}}">{{entry.authorHeading}}</a></li>
				<li class="{{entry.storiesHeading|replace(' ','-')|lower}}"><a href="#{{entry.storiesHeading|replace(' ','-')|lower}}">{{entry.storiesHeading}}</a></li>
				<li class="{{entry.speakingHeading|replace(' ','-')|lower}}"><a href="#{{entry.speakingHeading|replace(' ','-')|lower}}">{{entry.speakingHeading}}</a></li>
				<li class="articles"><a href="#articles">Articles</a></li>
				<li class="{{entry.contactHeading|replace(' ','-')|lower}}"><a href="#{{entry.contactHeading|replace(' ','-')|lower}}">{{entry.contactHeading}}</a></li>
			</ul>
		</nav>
	{% endblock %}
	{% block content %}
	<!--Features-->
	<div class="section section--features">
		<div class="cycle-slideshow" data-cycle-speed="400" data-cycle-slides="> div">
			{% for item in entry.features %}
			<div class="feature">
				<a href="{{ item.featureLink }}"><img class="image__fluid" src="{{ item.featureImage.first().url }}" alt="{{ item.featureName }}"></a>
			</div>
			{% endfor %}
			<!--
			<h1 class="slogan">"I have a Dream"</h1>
			-->
		</div>
	</div>
	<!--Email Signup-->
	<div class="section section--email section--blue">
		<div class="wrapper">
			<!-- Begin MailChimp Signup Form -->
			<div id="mc_embed_signup">
				<form action="http://dreamyear.us1.list-manage.com/subscribe/post?u=c20842c145c1f601cf6927c1f&amp;id=205e569476" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<h3 id="email"> Sign up for Ben's Emails</h3>
					<div class="form__element form__element__half">
						<label for="mce-MMERGE1" class="form__label">First Name </label>
						<input type="text" value="" name="MMERGE1" class="form__element__textfield form__element__textfield--blue" id="mce-MMERGE1">
					</div>
					<div class="form__element form__element__half">
						<label for="mce-EMAIL" class="form__label required">Email Address</label>
						<input type="email" value="" name="EMAIL" class="form__element__textfield form__element__textfield--blue email" id="mce-EMAIL">
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					<div style="position: absolute; left: -5000px;"><input type="text" name="b_c20842c145c1f601cf6927c1f_205e569476" value=""></div>
					<div class="form__element form__element__full"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
			</div>
			<!--End mc_embed_signup-->
		</div>
	</div>
	<!--About-->
	<div class="section section--about">
		<div class="wrapper">
			<h2 id="{{entry.aboutHeading|replace(' ','-')|lower}}">{{entry.aboutHeading}}</h2>
			<div class="profile">
				<div class="profile__image">
					<img class="image__fluid" src="/assets/images/book-cover.jpg" alt="Dream Year">
				</div>
				<div class="profile__content">
					{{entry.aboutDescription}}
				</div>
			</div>

			<ul class="resellers">
				{% for item in entry.resellers %}
				<li class="reseller"><a href="{{ item.resellerUrl }}">
					{% for asset in item.resellerLogo %}
					<img src="{{ asset.url }}" alt="{{ item.resellerName }}">
					{% endfor %}
				</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!--Chapters-->
	<div class="section section--chapters">
		<div class="wrapper">
			<h2 id="{{entry.chaptersHeading|replace(' ','-')|lower}}">{{entry.chaptersHeading}}</h2>
			{% if entry.chapters | length %}
			{% for item in entry.chapters %}
			<div class="chapter">
				<div class="chapter__index"><h5>Chapter {{loop.index}}: </h5></div>
				<div class="chapter__name"><h4>{{ item.chapterTitle }}</h4></div>
				<div class="description">{{ item.chapterDescription }}</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<!--Author-->
	<div class="section section--author">
		<div class="wrapper">
			<h2 id="{{entry.authorHeading|replace(' ','-')|lower}}">{{entry.authorHeading}}</h2>
			<div class="profile">
				<div class="profile__image">
					{% for asset in entry.authorImage %}
					<img class="image__fluid" src="{{ asset.url }}" alt="{{ entry.authorHeading }}">
					{% endfor %}
				</div>
				<div class="profile__content">
					{{entry.authorDescription}}
				</div>
			</div>
		</div>
	</div>
	<!--Stories-->
	<div class="section section--stories section--blue">
		<div class="wrapper">
			<h2 id="{{entry.storiesHeading|replace(' ','-')|lower}}">{{entry.storiesHeading}}</h2>

		<div class="stories__index">
		{% set storythumb = {
			mode: 'crop',
			width: 250,
			height: 250,
			quality: 75,
			position: 'top-center'
		} %}
			{% for entry in craft.entries.section('stories').find() %}
			<div class="stories__index__image">
				<a href="/{{ entry.uri }}"><img class="image__fluid zoom" src="{{ entry.storyImage.first().url(storythumb) }}" alt="{{ entry.title }}"></a>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
<!--Speaking-->
<div class="section section--speaking">
	<div class="wrapper">
		<h2 id="{{entry.speakingHeading|replace(' ','-')|lower}}">{{entry.speakingHeading}}</h2>
		<div class="speaking__sample">
			{% for asset in entry.speakingImage %}
			<div class="speaking--image">
				<img class="image__fluid" src="{{ asset.url }}" alt="Ben">
			</div>
			{% endfor %}
			<div class="speaking__audio">
				{% for item in entry.speakingSample %}
				<h5>{{ item.audioSampleTitle }}</h5>
				<audio controls>
					<source src="{% for asset in item.mp3 %}
					{{ asset.url }}
					{% endfor %}" type="audio/mpeg">
					<source src="{% for asset in item.ogg %}
					{{ asset.url }}
					{% endfor %}" type="audio/ogg">
					Your browser does not support the audio element.
				</audio>
				{% endfor %}
			</div>
		</div>
		<div class="description">{{entry.speakingDescription}}</div>
		<div id="contactBtn" class="button">Invite Ben</div>
		<div class="speaking__form">
			<h5>Invite</h5>
			<h3>Ben Arment</h3>
			{% macro errorList(errors) %}
			{% if errors %}
			<ul class="errors">
				{% for error in errors %}
				<li>{{ error }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endmacro %}

			{% from _self import errorList %}

			<form method="post" action="" accept-charset="UTF-8">
				<input type="hidden" name="action" value="contactForm/sendMessage">
				<input type="hidden" name="redirect" value="contact/thanks">
				<div class="form__element form__element__half">
					<label for="fromName" class="form__label">Your Name</label>
					<input id="fromName" class="form__element__textfield" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
				</div>
				{% if message is defined %}{{ errorList(message.getErrors('fromName')) }}{% endif %}
				<div class="form__element form__element__half">
					<label for="fromEmail" class="form__label required">Your Email</label>
					<input id="fromEmail" class="form__element__textfield" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
				</div>
				{% if message is defined %}{{ errorList(message.getErrors('fromEmail')) }}{% endif %}
				<div class="form__element form__element__half">
					<label for="phone" class="form__label required">Phone</label>
					<input id="phone" class="form__element__textfield" type="tel" name="message[Phone]" value="" placeholder="(×××) ×××-××××">
				</div>
				<div class="form__element form__element__half">
					<label for="event" class="form__label required">Event Name</label>
					<input id="event" class="form__element__textfield" type="text" name="message[Event]" value="">
				</div>
				<div class="form__element form__element__half">
					<label for="dates" class="form__label required">Dates</label>
					<input id="dates" class="form__element__textfield" type="date" name="message[Dates]" value="">
				</div>
				<div class="form__element form__element__half">
					<label for="budget" class="form__label required">Budget</label>
					<input id="budget" class="form__element__textfield" type="number" name="message[Budget]" value="">
				</div>
				<div class="form__element form__element__full">
					<label for="message" class="form__label required">Tell us about your Event</label>
					<textarea rows="5" id="message" class="form__element__textarea" name="message[body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
				</div>
				{% if message is defined %}{{ errorList(message.getErrors('message')) }}{% endif %}
				<div class="form__element form__element__full">
					<input class="button" type="submit" value="Send">
				</div>
			</form>
		</div>
	</div>
</div>
<!--Pitch Nights-->
{% if entry.pitchNightPublish %}
<div class="section section--blue section--pitch">
	<div class="wrapper">
		<h2 id="{{entry.pitchNightHeading|replace(' ','-')|lower}}">{{entry.pitchNightHeading}}</h2>
		<div class="video">
			<iframe src="//player.vimeo.com/video/{{entry.pitchNightVideoId}}" width="500" height="213" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>

		<div class="description">{{entry.pitchNightDescription}}</div>
		<ul class="tour">
			{% for item in entry.pitchNightEvents %}
			<li class="tour--stop">
				<div class="tour--date">
					<h5>
						{% if item.eventDate %}
						{{ item.eventDate.format('F d') }}
						{% else %}
						Coming Soon
						{% endif %}
					</h5>
				</div>
				<div class="tour--city">
					<h3><a href="{{ item.eventRegistrationLink }}">{{ item.eventCity }}</a></h3>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
{% endif %}
<!--Articles-->
<div class="section section--articles">
	<div class="wrapper">
		<h2 id="articles">Articles</h2>
		{% set articlethumb = {
		mode: 'crop',
		width: 200,
		height: 300,
		quality: 75,
		position: 'top-center'
	} %}
	<div class="owl-carousel owl-theme">
		{% for entry in craft.entries.section('articles').find() %}
		<div>
			<a href="{{ entry.url }}">
				<div class="article__image">
					{% for asset in entry.articleImage %}
					<img class="image__fluid zoom" src="{{ asset.url(articlethumb) }}" width="{{ asset.getWidth(articlethumb) }}" height="{{ asset.getHeight(articlethumb) }}" alt="{{ entry.title }}">
					{% endfor %}
				</div>
				<div class="article__name"><h5>{{ entry.title }}</h5></div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>
</div>
<!--Event-->
<div class="section section--event">
	<div class="wrapper">
		<h2 id="{{entry.eventHeading|replace(' ','-')|lower}}">{{entry.eventHeading}}</h2>
		{% for item in entry.events.limit(1) %}
		<div class="event">
			{% for asset in item.eventImage %}
			<div class="event--image"><img class="image__fluid" src="{{ asset.url }}" alt="{{ item.eventName }}"></div>
			{% endfor %}
			<div class="event--date"><h5>{{ item.eventDate.format('F d') }}</h5></div>
			<div class="event--city"><h3>{{ item.eventLocation }}</h3></div>
			<div class="description">{{ item.eventDescription }}</div>
			<a href="{{ item.eventRegistrationLink }}" class="button">Register Now</a>
		</div>
		{% endfor %}
	</div>
</div>
<!--Contact-->
<div class="section">
	<div class="wrapper">
		<h2 id="{{entry.contactHeading|replace(' ','-')|lower}}">{{entry.contactHeading}}</h2>
		<div class="description">{{entry.contactDescription}}</div>
	</div>
</div>

{% endblock %}
