	{% extends "_layout" %}

	{% block content %}
	<!--About-->
	<div class="section section--hero">
		<div class="wrapper">
			<div class="hero">
				<div class="hero__image">
				</div>
			</div>
		</div>
	</div>
	<div class="section section--about">
		<div class="wrapper">
			<h2 id="{{entry.aboutHeading|replace(' ','-')|lower}}">{{entry.aboutHeading}}</h2>
			<div class="description">{{entry.aboutDescription}}</div>
			<ul class="resellers">
				{% for item in entry.resellers %}
				<li class="reseller"><a href="{{ item.resellerUrl }}">
					{% for asset in item.resellerLogo %}
					<img src="{{ asset.url }}" alt="{{ item.resellerName }}">
					{% endfor %}
				</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<!--Chapters-->
	<div class="section section--chapters">
		<div class="wrapper">
			<h2 id="{{entry.chaptersHeading|replace(' ','-')|lower}}">{{entry.chaptersHeading}}</h2>
			{% if entry.chapters | length %}
			{% for item in entry.chapters %}
			<div class="chapter">
				<div class="chapter__index"><h5>Chapter {{loop.index}}: </h5></div>
				<div class="chapter__name"><h4>{{ item.chapterTitle }}</h4></div>
				<div class="description">{{ item.chapterDescription }}</div>
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<!--Author-->
	<div class="section section--author">
		<div class="wrapper">
			<h2 id="{{entry.authorHeading|replace(' ','-')|lower}}">{{entry.authorHeading}}</h2>
			<div class="profile">
				<div class="profile__image">
					{% for asset in entry.authorImage %}
					<img class="image__fluid" src="{{ asset.url }}" alt="{{ entry.authorHeading }}">
					{% endfor %}
				</div>
				<div class="profile__content">
					{{entry.authorDescription}}
				</div>
			</div>
		</div>
	</div>
	<!--Stories-->
	<div class="section section--stories">
		<div class="wrapper">
			<h2 id="{{entry.storiesHeading|replace(' ','-')|lower}}">{{entry.storiesHeading}}</h2>
			<!--
			<div class="stories__index">
				{% for item in entry.stories %}
				<p>{{ item.storyName }}</p>
				{% endfor %}
			</div>
			-->
			<div id="owl-example" class="owl-carousel">
				{% for item in entry.stories %}
				<div class="story">
					{% for asset in item.storyImage %}
					<div class="story__image">
						<img class="image__fluid" src="{{ asset.url }}" alt="{{ item.storyName }}">
					</div>
					{% endfor %}
					<div class="story__content">
						<div class="story__name"><h4>{{ item.storyName }}</h4></div>
						<div class="story__description">{{ item.storyDescription }}</div>
						<div class="story__url"><a href="{{ item.storyUrl }}">{{ item.storyUrl }}</a></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!--Speaking-->
	<div class="section section--speaking">
		<div class="wrapper">
			<h2 id="{{entry.speakingHeading|replace(' ','-')|lower}}">{{entry.speakingHeading}}</h2>
			<div class="description">{{entry.speakingDescription}}</div>
			{% for item in entry.speakingSample %}
			<audio controls>
				<source src="{% for asset in item.mp3 %}
				{{ asset.url }}
				{% endfor %}" type="audio/mpeg">
				<source src="{% for asset in item.ogg %}
				{{ asset.url }}
				{% endfor %}" type="audio/ogg">
				Your browser does not support the audio element.
			</audio>
			{% endfor %}
			<div class="speaking__form">
				{% macro errorList(errors) %}
				{% if errors %}
				<ul class="errors">
					{% for error in errors %}
					<li>{{ error }}</li>
					{% endfor %}
				</ul>
				{% endif %}
				{% endmacro %}

				{% from _self import errorList %}

				<form method="post" action="" accept-charset="UTF-8">
					<input type="hidden" name="action" value="contactForm/sendMessage">
					<input type="hidden" name="redirect" value="contact/thanks">
					<div class="form__element form__element__half">
						<label for="fromName" class="form__label">Your Name</label>
						<input id="fromName" class="form__element__textfield" type="text" name="fromName" value="{% if message is defined %}{{ message.fromName }}{% endif %}">
					</div>
					{% if message is defined %}{{ errorList(message.getErrors('fromName')) }}{% endif %}
					<div class="form__element form__element__half">
						<label for="fromEmail" class="form__label required">Your Email</label>
						<input id="fromEmail" class="form__element__textfield" type="email" name="fromEmail" value="{% if message is defined %}{{ message.fromEmail }}{% endif %}">
					</div>
					{% if message is defined %}{{ errorList(message.getErrors('fromEmail')) }}{% endif %}
					<div class="form__element form__element__half">
						<label for="phone" class="form__label required">Phone</label>
						<input id="phone" class="form__element__textfield" type="tel" name="message[Phone]" value="" placeholder="(×××) ×××-××××">
					</div>
					<div class="form__element form__element__half">
						<label for="event" class="form__label required">Event Name</label>
						<input id="event" class="form__element__textfield" type="text" name="message[Event]" value="">
					</div>
					<div class="form__element form__element__half">
						<label for="dates" class="form__label required">Dates</label>
						<input id="dates" class="form__element__textfield" type="date" name="message[Dates]" value="">
					</div>
					<div class="form__element form__element__half">
						<label for="budget" class="form__label required">Budget</label>
						<input id="budget" class="form__element__textfield" type="number" name="message[Budget]" value="">
					</div>
					<div class="form__element form__element__full">
						<label for="message" class="form__label required">Tell us about your Event</label>
						<textarea rows="5" id="message" class="form__element__textarea" name="message[body]">{% if message is defined %}{{ message.message }}{% endif %}</textarea>
					</div>
					{% if message is defined %}{{ errorList(message.getErrors('message')) }}{% endif %}
					<div class="form__element form__element__full">
						<input class="button" type="submit" value="Send">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!--
	<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1720416-4QhiH6JuPM-v3"></script><noscript><a href="https://www.formstack.com/forms/?1720416-4QhiH6JuPM" title="Online Form">Online Form - Speaking Request Form</a></noscript>
-->
<!--Pitch Nights-->
<div class="section section--blue section--pitch">
	<div class="wrapper">
		<h2 id="{{entry.pitchNightHeading|replace(' ','-')|lower}}">{{entry.pitchNightHeading}}</h2>
		<div class="video">
			<iframe src="//player.vimeo.com/video/{{entry.pitchNightVideoId}}" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
		<div class="description">{{entry.pitchNightDescription}}</div>
		<ul class="tour">
			{% for item in entry.pitchNightEvents %}
			<li class="tour--stop">
				<div class="tour--date"><h5>{{ item.eventDate.format('F d') }}</h5></div>
				<div class="tour--city">
					<h3><a href="{{ item.eventRegistrationLink }}">{{ item.eventCity }}</a></h3>
				</div>
			</li>
			{% endfor %}
		</ul>
	</div>
</div>
<!--Event-->
<div class="section">
	<div class="wrapper">
		<h2 id="{{entry.eventHeading|replace(' ','-')|lower}}">{{entry.eventHeading}}</h2>
		{% for item in entry.events.limit(1) %}
		<div id="event">
			{% for asset in item.eventImage %}
			<div class="event--image"><img class="image__fluid" src="{{ asset.url }}" alt="{{ item.eventName }}"></div>
			{% endfor %}
			<div class="event--date"><h5>{{ item.eventDate.format('F d') }}</h5></div>
			<div class="event--city"><h3>{{ item.eventLocation }}</h3></div>
			<div class="description">{{ item.eventDescription }}</div>
			<a href="{{ item.eventRegistrationLink }}" class="button">Register Now</a></p>
		</div>
		{% endfor %}
	</div>
</div>
<!--Event-->
<div class="section">
	<div class="wrapper">
		<h2 id="{{entry.contactHeading|replace(' ','-')|lower}}">{{entry.contactHeading}}</h2>
		<div class="description">{{entry.contactDescription}}</div>
	</div>
</div>

{% endblock %}
